@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'starjedi';
  src: url('/fonts/starjedi.ttf') format('truetype');
}

@font-face{
  font-family: 'exo2';
  src: url('/fonts/exo2/Exo2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'exo2';
  src: url('/fonts/exo2/Exo2-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'exo2';
  src: url('/fonts/exo2/Exo2-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: 'exo2';
  src: url('/fonts/exo2/Exo2-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)
    ), 
    url('/images/fondo-clones.webp');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}