body{
    background-image: linear-gradient(
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)), 
        url('/images/fondo-clones.webp');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}