body{
    background-image: linear-gradient(
        rgba(0,0,0,0.2), 
        rgba(0,0,0,0.2)), 
        url('/images/fondo-darthvader.webp');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}